CDK_DRIVE_OSD_URL=https://servdemo.cdk.com/apps/autoTools/cds/osd/osd.php
ADAPTIVA_VERSION_URL=https://raw.githubusercontent.com/PAG-IT/public-configs/refs/heads/main/cdk--drive--adaptiva-version.txt
LOG_DIR=
DOWNLOAD_DIR=
VARIABLES_DIR=
CDK_3RD_PARTY_INSTALL_ARGS=
CDK_WEBSTART_INSTALL_ARGS=
CDK_BLUEZONE_INSTALL_ARGS=
CDK_ADAPTIVA_PREADAPTIVA_ARGS=
CDK_ADAPTIVA_CLIENT_ARGS=
ADAPTIVA_CNUMBER=C000000
ADAPTIVA_HOST=C000000-example.drive.example.com
ADAPTIVA_SERVER_GUID=00000000-0000-0000-0000-000000000000
