CDK_DRIVE_OSD_URL=https://servdemo.cdk.com/apps/autoTools/cds/osd/osd.php
ADAPTIVA_VERSION_URL=https://raw.githubusercontent.com/PAG-IT/public-configs/refs/heads/main/cdk--drive--adaptiva-version.txt
LOG_DIR=
DOWNLOAD_DIR=
VARIABLES_DIR=
CDK_3RD_PARTY_INSTALL_ARGS=
CDK_WEBSTART_INSTALL_ARGS=
CDK_BLUEZONE_INSTALL_ARGS=
